.matrix {
  $gap: 4px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;

  font-size: .5rem;
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;
  }
}