.sandbox {
    display: flex;
    gap: 2rem;
    padding-top: 4rem;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        flex: 0 1 50vw;
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}