.game {
    display: flex;

    &__history {
        flex: 0 0 45%;
        padding: 20px;
    }

    &__buttons {
        padding: 20px;
        flex: 0 0 40%;
        display: flex;
        grid-gap: 15px;
        flex-direction: column;
        font-size: 20px;
    }

    &__buttons-set {
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
    }

    &__buttons-input {
        border: 1px solid darkgray;
        border-radius: 4px;
        width: 100%;
        height: 40px;
        outline: none !important;
        padding: 0 11px;
        &:focus {
            border-color: black;
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 1 100%;
    }
    &__grid-inner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__grid-info {

    }

    &__variants {
        font-size: 15px;
    }


    &__selectors {
        margin-left: 30px;

    }
}

.grid {
    $gap: 4px;
    //min-height: 350px;
    //height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;

    &__row {
        display: flex;
        flex-direction: row;
        gap: $gap;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;

    background-color: cornflowerblue;
    &:hover {
        background-color: darken(cornflowerblue, 10%);
    }
    &:active {
        background-color: cornflowerblue;
    }


    &.btn_err {
        background-color: indianred;
        &:hover {
            background-color: darken(indianred, 10%);
        }
        &:active {
            background-color: indianred;
        }
    }
    &.btn_scs {
        background-color: mediumseagreen;
        &:hover {
            background-color: darken(mediumseagreen, 10%);
        }
        &:active {
            background-color: mediumseagreen;
        }
    }
}

.step-list {
    padding: 20px;
    border: 1px solid darkgray;
    font-size: 13px;
}
.step-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.flex {
    display: flex;
    &_p-center {
        justify-content: center;
    }
    &_s-center {
        align-items: center;
    }
}