.variants {
    position: relative;
    font-size: 15px;
    &__list-item {
        display: inline-block;
        position: relative;
        &:hover {
            & > .variants__popup {
                display: block;
            }
            & > .variants__popup {
                text-decoration: underline;
            }
        }
    }
    &__link {
        color: cornflowerblue;
        position: relative;
        cursor: pointer;
        &:hover {
            opacity: .5;
        }
        &.has-sun {
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: gold;
                top: 50%;
                margin-top: -6px;
                right: 100%;
                margin-right: 2px;
            }
        }
    }
    &__popup {
        z-index: 2;
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        border: 1px solid #a9a9a9;
        background-color: #e5e5e5;
        border-radius: 2px;
        padding: 7px 9px;
        white-space: nowrap;
        transform: translate(0, -30%);
        &:before {
            position: absolute;
            content: '';
            width: 5px;
            height: 100%;
            right: 100%;
            top: 0;
        }
    }
}